Qlocal
QLogs
QuickBuild.log
VersionGeneration
__cacheOutput
builder_log

.corext/gen
bldver.*
public/inc/sources.ver
.vs/

buildd.err
buildd.log
buildd.prf
buildd.wrn
build.err
build.log
build.prf
build.wrn

**/bin/Debug
**/bin/Release
**/bin/Data
**/Release
**/Debug
obj
objd
Logs
target
FakesAssemblies

packages

/private/Binplacing/**/signjob.json

# Merge backup files
*.orig

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.psess
*.vspx

# When you opn slns with VS
*.csproj.projhash
*.csproj.projhash.userData
*.csproj.projhash.userData.assemblies
*.vcxproj.projhash
*.vcxproj.projhash.userData
*.vcxproj.projhash.userData.assemblies
*.slnhash
*.slnhash.userData
*.slnhash.userData.assemblies

# Visual Studio 2015 cache/options directory
.vs/

# Visual Studio upgrade garbage
Backup*/
UpgradeLog*.htm
*.cs.orig
*.buildresultxml_to_html.xsl

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Git merge artifacts
*_BACKUP_[0-9]*
*_BASE_[0-9]*
*_LOCAL_[0-9]*
*_REMOTE_[0-9]*

# Hydra internal files
*.xml.internal.xml*
HydraBuildLogs/
HydraGeneratedConfigs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

/private/mt/Bicep/BvUtils/bin
/private/mt/train/Dashboard/app/Common/HtmlDialogBoxCtrl.js
/private/mt/train/Dashboard/app/Common/HtmlDialogBoxCtrl.js.map
/private/mt/train/Dashboard/app/Common/UrlDialogBoxCtrl.js
/private/mt/train/Dashboard/app/Common/UrlDialogBoxCtrl.js.map
/private/mt/train/Dashboard/app/Hotfix/*.d.ts
/private/mt/train/Dashboard/app/Hotfix/*.js
/private/mt/train/Dashboard/app/Hotfix/*.map
/private/mt/train/Dashboard/app/Hotfix/*.xsl
/private/mt/train/Dashboard/app/DRI/*.d.ts
/private/mt/train/Dashboard/app/DRI/*.js
/private/mt/train/Dashboard/app/DRI/*.js.map
/private/mt/train/Dashboard/app/TestSets/*.d.ts
/private/mt/train/Dashboard/app/TestSets/*.js
/private/mt/train/Dashboard/app/TestSets/*.js.map
/private/mt/train/Dashboard/app/Tools/*.d.ts
/private/mt/train/Dashboard/app/Tools/*.js
/private/mt/train/Dashboard/app/Tools/*.js.map
/private/mt/train/Dashboard/app/a*.d.ts
/private/mt/train/Dashboard/app/*.js
/private/mt/train/Dashboard/app/*.js.map
/private/mt/train/Dashboard/app/BLEUScores/*.js
/private/mt/train/Dashboard/app/BLEUScores/*.js.map
/private/mt/Bicep/BilingualViewer/Ajax/V3/Floater.js
/private/mt/Bicep/BilingualViewer/Ajax/V3/Launcher.js
/private/mt/Bicep/BilingualViewer/Ajax/V3/WidgetAPI.js
/private/mt/MDistributor/ServiceWatchdog/bin
/private/mt/Toolkit/Dashboard/Dashboard.Cloud/DEV/csx
/private/mt/Toolkit/Dashboard/Dashboard.Cloud/PPE/csx
/private/mt/Toolkit/Dashboard/Dashboard.Cloud/PROD/csx
/private/mt/Toolkit/Dashboard/Dashboard.Cloud/TEST/csx
/private/mt/common/Resources/bin
/private/mt/common/jcc/src/_postd.c
/private/mt/common/jcc/src/_postd.h
/private/mt/deployment/Deploy/bin
/private/mt/deployment/Deployment/bin
/private/mt/deployment/Settings/bin
/private/mt/s2s/srilm/visual_studio/vs2010/lattice-tool/Debug
/private/mt/s2s/srilm/visual_studio/vs2010/lattice2cn/Debug
/private/mt/s2s/srilm/visual_studio/vs2010/ngram-count/Debug
/private/mt/tools/NeuralNet/NeuriteCpp/GPU/nvcc_build.log
/private/mt/train/caboom/CycBuildConnection/bootconfig.csmt/Bicep/BilingualViewer/Ajax/V3/Floater.js
/private/mt/Bicep/BilingualViewer/Ajax/V3/Launcher.js
/private/mt/Bicep/BilingualViewer/Ajax/V3/WidgetAPI.js
/private/mt/MDistributor/ServiceWatchdog/bin
/private/mt/MTApi/SpeechProbe/SpeechProbeFunction/local.settings.json
/private/mt/MTApi/SpeechProbe/SpeechProbeFunction/bin
/private/mt/MTApi/SpeechProbe/SpeechProbeLibrary/bin
/private/mt/MTApi/SpeechProbe/SpeechProbeTests/bin
/private/mt/MTApi/SpeechProbe/SpeechProbeTests/TestSettings.json
/private/mt/MTApi/SpeechProbe/SpeechProbeViews/bin
/private/mt/Toolkit/Dashboard/Dashboard.Cloud/DEV/csx
/private/mt/Toolkit/Dashboard/Dashboard.Cloud/PPE/csx
/private/mt/Toolkit/Dashboard/Dashboard.Cloud/PROD/csx
/private/mt/Toolkit/Dashboard/Dashboard.Cloud/TEST/csx
/private/mt/common/Resources/bin
/private/mt/common/jcc/src/_postd.c
/private/mt/common/jcc/src/_postd.h
/private/mt/deployment/Deploy/bin
/private/mt/deployment/Deployment/bin
/private/mt/deployment/Settings/bin
/private/mt/s2s/srilm/visual_studio/vs2010/lattice-tool/Debug
/private/mt/s2s/srilm/visual_studio/vs2010/lattice-tool/Release
/private/mt/s2s/srilm/visual_studio/vs2010/lattice2cn/Debug
/private/mt/s2s/srilm/visual_studio/vs2010/lattice2cn/Release
/private/mt/s2s/srilm/visual_studio/vs2010/ngram-count/Debug
/private/mt/s2s/srilm/visual_studio/vs2010/ngram-count/Release
/private/mt/tools/NeuralNet/NeuriteCpp/GPU/nvcc_build.log
/private/mt/train/caboom/CycBuildConnection/bootconfig.cs
*.dbmdl
/private/mt/MTApi/Databases/Capito/ConnectDatabase/bin
/private/mt/train/Dashboard/app/Common/HtmlDialogBoxCtrl.d.ts
/private/mt/train/Dashboard/app/Common/UrlDialogBoxCtrl.d.ts
/MTBuild/Tools/MTTruckSP/bin
/private/mt/train/automation/speech2speech_project/text
# .jfm file is a database related file that should be ignored according to this:
# https://stackoverflow.com/questions/37704514/visual-studio-2015-database-project-directory-contains-a-file-with-extension-jfm
*.jfm
#/Secrets/CodeSign
*.d.ts
/private/mt/MLeafUnitTests/FakesAssemblies
/private/mt/train/dashboard/bin
*.snt.orig
/private/mt/train/dashboard/SDDiff
/private/mt/nlp/nlpwin/english/*
/private/mt/nlp/nlpwin/german/*
/private/mt/nlp/nlpwin/french/*
/private/mt/nlp/nlpwin/spanish/*
/private/mt/nlp/nlpwin/japanese/*
/private/mt/MTApi/MTApiDocs/bin

/private/mt/test/MTLoadTest/MTLoadTestSchedulerServiceTest/bin
/private/mt/test/Deployment/MTTest/MTTestTest/bin
/private/mt/MTApi/SpeechClients/S2SMtDemoClient/bin
*.tmp
/private/mt/Toolkit/Dashboard/HubApiMock/src/CommonApiModels/bin/*
/private/mt/tools/PerfTool/PerfTool/bin/*
pingme.txt
RunPhillyFS.log
_minidump_*
*.diagsession
